div {
    display: flex;
    flex-direction: column;   
}
textarea {
    width: 250px;
    height: 250px
}
input {
    width: 250px;
    margin-top: 10px;
}
button {
    width: 250px;
}
img {
    width: 250px;
}
body {
    background-image: url("https://file.garden/ZWlUCY4S7Xz2vypS/archived%20backgrounds/colours/black/bgfire3.gif");
    color: azure;
}
